# 17 June 2024 :  Unit2

# 2.1. How the cafe menu works #1

In [5]:
menu = {'Americano':3000000, 'Ice Americano':3500, 'Cappuccino':4000,'Cafe Latte':4500,'Espresso':3600}
for key in menu:
    print("{:16s} price : {:,} KRW".format(key,menu[key]))

Americano        price : 3,000,000 KRW
Ice Americano    price : 3,500 KRW
Cappuccino       price : 4,000 KRW
Cafe Latte       price : 4,500 KRW
Espresso         price : 3,600 KRW

# How the cafe menu works #2

In [10]:
print('Americano       Price : 3,000 KRW')
print('Ice Americano   Price : 3,500 KRW')
print('Cappuccino      Price : 4,000 KRW')
print('Cafe Latte      Price : 4,500 KRW')
print('Espresso        Price : 3,600 KRW')
choice = input('Select one menu from list: ')
if choice in menu.keys():
    print('{}is{:,} KRW. Please make a payment.'.format(choice,menu[choice]))
else:
    print('Sorry. {} is not in the menu.'.format(choice))

Americano       Price : 3,000 KRW
Ice Americano   Price : 3,500 KRW
Cappuccino      Price : 4,000 KRW
Cafe Latte      Price : 4,500 KRW
Espresso        Price : 3,600 KRW
Select one menu from list: Espresso
Espressois3,600 KRW. Please make a payment.

In [18]:
import json

data = '{"Name":"David Doe","Age":25,"Hobby":["baseketball"],\
"Family":{"father":"John Doe","mother":"Marry Doe"},"Married":true}'

json_data = json.loads(data)

print(type(json_data))
print(json_data['Name'])  # print value of key "Name"
print(json_data['Family'])
print(json_data['Married'])

<class 'dict'>
David Doe
{'father': 'John Doe', 'mother': 'Marry Doe'}
True

In [19]:
import json

data = '{"title": "The Old man and The Sea","ISBM","12345","Author":"Ernest Hemingway"}'
json_data = json.loads(data)

with open('book.json','w') as f:
    json.dump(json_data,f,indent='\t')

JSONDecodeError: Expecting ':' delimiter: line 1 column 43 (char 42)

# Quiz1 Page:128

In [4]:
capital_dic = { 
    'Korea':'Seoul',
    'China':'Beijing',
    'USA':'Washington DC'
}
print(capital_dic['Korea'])

Seoul

# Quiz2

In [45]:
fruits_dic = {
    'apple':5000,
    'banana':4000,
    'grape':5300,
    'melon':6500
}
vowels = {'a', 'e', 'i', 'o', 'u'}  # or use square bracket in between those letter
key_output = ''
value_output = ''

for key in fruits_dic.keys():
    if key[0] in vowels:
        print('The price of an {} is {} KRW.'.format(key,fruits_dic[key]))
    else:
         print('The price of a {} is {} KRW.'.format(key,fruits_dic[key]))
            

print('\n\n{:^65}\n'.format("fruits_dic dictionary"))

for key in fruits_dic.keys():
    key_output+="key:{:<15}".format(key)
for value in fruits_dic.values():
    value_output+="value:{:<13}".format(value)
    
print(key_output)
print(value_output)



# for key in fruits_dic.keys():
#     print('key:{:<8}'.format(key), end=' ')

# for key, value in fruits_dic.items():
#     print('{0:^20} : {1:^20}'.format(key, value))

The price of an apple is 5000 KRW.
The price of a banana is 4000 KRW.
The price of a grape is 5300 KRW.
The price of a melon is 6500 KRW.


                      fruits_dic dictionary

key:apple          key:banana         key:grape          key:melon
value:5000         value:4000         value:5300         value:6500

# 1.2. Dictionary declaration

In [21]:
phone_book = { }  # create an empty dictionary
phone_book["David"] = "010-1234-5678"  # assign value to dictionary via key and value
phone_book["Jonh"] = "010-1234-5679"
phone_book["Daniel"] = "010-1234-5680"

for key in phone_book:
    print(phone_book[key])
    
print(phone_book)

010-1234-5678
010-1234-5679
010-1234-5680
{'David': '010-1234-5678', 'Jonh': '010-1234-5679', 'Daniel': '010-1234-5680'}

# Quiz

In [128]:
fruits_dic = {
    'apple':6000,
    'melon':3000,
    'banana':5000,
    'orange':4000
}

keys_list = list(fruits_dic.keys())
print('dict_keys({})'.format(keys_list))
print(type(keys_list))  # make sure it is a list type

# print(fruits_dic.keys())

# keys_.list.append('kiwi')

if 'apple' in fruits_dic.keys():
    print('{} is in fruits_dis'.format('apple'))
    
if 'mango' not in fruits_dic.keys():
    print('{} is not in fruits_dis'.format('mango'))


# # Example list to check against
# check_list = ['apple', 'grape', 'banana', 'kiwi']

# # Examine if keys in keys_list are in check_list
# for key in keys_list:
#     if key in check_list:
#         print(f"The key '{key}' is in the check_list.")
#     else:
#         print(f"The key '{key}' is not in the check_list.")

dict_keys(['apple', 'melon', 'banana', 'orange'])
<class 'list'>
apple is in fruits_dis
mango is not in fruits_dis

# HOMEWORK : Using dictionary to store data of student such as Name,Gender,Shift,Score , and examine how many male and female student in the dic and who has the highest score.

In [3]:
student_data = {
    '1':{'Name':'Srey Pich','Gender':'Female', 'Shift':'Afternoon', 'Score':88.5},
    '2':{'Name':'Tha Vatey','Gender':'Female', 'Shift':'Evening', 'Score':67.8},
    '3': {'Name':'Chi Vorn','Gender':'Male', 'Shift':'Evening', 'Score':84.3},
    '4': {'Name':'Ya Ya','Gender':'Female', 'Shift':'Afternoon', 'Score':90.5},
    '5': {'Name':'Ly Eang','Gender':'Female', 'Shift':'Afternoon', 'Score':70.5},
    '6': {'Name':'Che Ka','Gender':'Male', 'Shift':'Eveninig', 'Score':95.5},
    '7': {'Name':'Ly Ly','Gender':'Male', 'Shift':'Afternoon', 'Score':80.8},
    '8': {'Name':'Rotha Sam','Gender':'Female', 'Shift':'Evening', 'Score':92.5},
    '9': {'Name':'Nita Son','Gender':'Female', 'Shift':'Evening', 'Score':92.66},
    '10': {'Name':'Dom Dom','Gender':'Male', 'Shift':'Afternoon', 'Score':93.92},
    '11': {'Name':'Sum Vathana','Gender':'Female', 'Shift':'Afternoon', 'Score':67.25},
    '12': {'Name':'Pha Pha','Gender':'Female', 'Shift':'Afternoon', 'Score':79.67},
    '13': {'Name':'Na Na','Gender':'Female', 'Shift':'Evening', 'Score':96.7},
    '14': {'Name':'Ka Ka','Gender':'Male', 'Shift':'Evening', 'Score':56.78},
    '15': {'Name':'Panha Pich','Gender':'Female', 'Shift':'Evening', 'Score':86.78}
}

total_stu = 0
male_stu = 0
female_stu = 0
max_score=0
topStu = {}


print('-'*50)
print('{:^50}'.format('C&P Course Student List'))
print('-'*50)
print('{0:>4}     {1:<12} {2:<10} {3:<10} {4}'.format('No','NAME','GENDER','SHTIFT','SCORE'))
print('-'*50)
for key in student_data.keys():
    print('{0:>3}.  {1:<15} {2:<10} {3:<10} {4:.2f}'.format(key,student_data[key]['Name'],student_data[key]['Gender'],
                                                          student_data[key]['Shift'],student_data[key]['Score']))
print('-'*50)
for i in student_data.keys():
    total_stu += 1
    if student_data[i]['Gender'] == 'Male':
        male_stu += 1
    else:
        female_stu+=1
    
    if student_data[i]['Score'] > max_score:
        max_score = student_data[i]['Score']
        topStu = student_data[i]
        
print(' Total:{0:<12d}  Male:{1:<12d} Female:{2}'.format(total_stu,male_stu,female_stu))
    
    
print('\n\n')

print('{:^50}'.format('>>> HIGTHEST SCORE STUDENT <<<'))
print('-'*50)
print(' {0:<15} {1:<10} {2:<10} {3:.2f}'.format(topStu['Name'],topStu['Gender'],topStu['Shift'],topStu['Score']))
print('-'*50)
print('\n\n')

--------------------------------------------------
             C&P Course Student List
--------------------------------------------------
  No     NAME         GENDER     SHTIFT     SCORE
--------------------------------------------------
  1.  Srey Pich       Female     Afternoon  88.50
  2.  Tha Vatey       Female     Evening    67.80
  3.  Chi Vorn        Male       Evening    84.30
  4.  Ya Ya           Female     Afternoon  90.50
  5.  Ly Eang         Female     Afternoon  70.50
  6.  Che Ka          Male       Eveninig   95.50
  7.  Ly Ly           Male       Afternoon  80.80
  8.  Rotha Sam       Female     Evening    92.50
  9.  Nita Son        Female     Evening    92.66
 10.  Dom Dom         Male       Afternoon  93.92
 11.  Sum Vathana     Female     Afternoon  67.25
 12.  Pha Pha         Female     Afternoon  79.67
 13.  Na Na           Female     Evening    96.70
 14.  Ka Ka           Male       Evening    56.78
 15.  Panha Pich      Female     Evening    86.78
--------------------------------------------------
 Total:15            Male:5            Female:10



          >>> HIGTHEST SCORE STUDENT <<<
--------------------------------------------------
 Na Na           Female     Evening    96.70
--------------------------------------------------