# List and Turple data types

# 2.1. What is List?

In [1]:
score_list = [87,84,95,67,88,94,63];
score_list

[87, 84, 95, 67, 88, 94, 63]

In [7]:
score_list = [87,84,95,67,88,94,63]
print('The number of item in list : ',len(score_list)) 
print(score_list)

print(score_list[0],score_list[6])  # print element of list on specific index

#print all element using for loop
for i in score_list:
    print(i)

The number of item in list :  7
[87, 84, 95, 67, 88, 94, 63]
87 63
87
84
95
67
88
94
63

In [10]:
fruit = ['banana','apple','ornge','kiwi']  # list of string
print(fruit)
mixed_list = [100,200,'apple',400]  # mix list
print(mixed_list)

['banana', 'apple', 'ornge', 'kiwi']
[100, 200, 'apple', 400]

# 2.3. The range function to create a sequence

In [12]:
list_ = list(range(1,10))   # a list can be created by using the range or strings
print(list_)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# 3.2. List indexing and calculating length

In [15]:
list_n = [11,22,33,44,55,66]
print(list_n)
length = len(list_n)
print('The number of item : ',length)

[11, 22, 33, 44, 55, 66]
The number of item :  6

In [18]:
list_n[length-1]

66

In [19]:
list_n[-5]

22

# 4.1. + calculating to add list

In [20]:
person_1 = ['David Doe',20,1,180.0,100.0]
person_2 = ['Jonh Smith',25,1,170.0,70.0]

person_list = person_1+person_2
print(person_list)

['David Doe', 20, 1, 180.0, 100.0, 'Jonh Smith', 25, 1, 170.0, 70.0]

# 4.2. The append method for list element addition

In [35]:
a_list = ['A','B','C','D']
print('The list before adding new item',a_list)
a_list.append('E')  # add or append item at the end of list

new_list = a_list
print('The list after adding new item : ',new_list)

The list before adding new item ['A', 'B', 'C', 'D']
The list after adding new item :  ['A', 'B', 'C', 'D', 'E']

# 4.3. The extend method for list element addition

In [50]:
list_1 = ['A','B','C']
list_2 = [1,2,3]
list_1.extend(list_2)
print(list_1)

['A', 'B', 'C', 1, 2, 3]

In [51]:
list_1.extend('d')
print(list_1)

['A', 'B', 'C', 1, 2, 3, 'd']

In [52]:
a = [100]
list_2.extend(a)
new_list = list_2
print(new_list)

[1, 2, 3, 100]

# 4.4. Methods to delete list elements

In [53]:
n_list = [11,22,33,44,55,66]
print('List before deleting : ',n_list)
del n_list[1]
print('List after deleting element at index 1 : ',n_list)

List before deleting :  [11, 22, 33, 44, 55, 66]
List after deleting element at index 1 :  [11, 33, 44, 55, 66]

In [54]:
n_list = ['A','B','C']
print('List before using pop() : ',n_list)
n = n_list.pop()
print('List after using pop() : ',n_list)
print('The element that have been deleted : ',n)

List before using pop() :  ['A', 'B', 'C']
List after using pop() :  ['A', 'B']
The element that have been deleted :  C

In [62]:
n_list = [11,22,33,44,55,66,33] 
print('List before using remove() : ',n_list)
n_list.remove(33)  # if the value are more than 2 it will delete the first element
print('List after using remove : ',n_list)

List before using remove() :  [11, 22, 33, 44, 55, 66, 33]
List after using remove :  [11, 22, 44, 55, 66, 33]

# 5.1. Slicing

In [63]:
my_list = [10,20,30,40,50,60,70,80]
new_list = my_list[1:7]
print(new_list)

[20, 30, 40, 50, 60, 70]

# 6.1. in operator

In [64]:
my_list = [10,20,30,40]
90 in my_list

False

# 6.2. Using the in operator

In [68]:
my_list = [10,20,30,40,50,60]
if 50 in my_list:
    my_list.remove(50)
if 70 in my_list:
    my_list.remove(70)
print('my_list after using in operator with if statment = ',my_list)

my_list after using in operator with if statment =  [10, 20, 30, 40, 60]

In [70]:
my_list = [10,20,30,40,50,60]
n=int(input('Enter te number that will be deleted : '))

if n in my_list:
    my_list.remove(n)
else:
    print(n,' is not in the list')
print(my_list)

Enter te number that will be deleted : 111
111  is not in the list
[10, 20, 30, 40, 50, 60]

# Quiz1

In [83]:
# QUIZ 1 : create prime list 
prime_list = [2,3,5,7]
print(prime_list[0])

2

# Quiz2

In [72]:
prime_list = [2,3,5,7]
print('The list before using append : ',prime_list)
prime_list.append(11)
print('The list after using append : ',prime_list)

The list before using append :  [2, 3, 5, 7]
The list after using append :  [2, 3, 5, 7, 11]

# Quiz3

In [82]:
list1 = [3,5,7]
list2 = [2,3,4,5,6]
for i in list1:
    for j in list2:
        print(i,'*',j,'=',i*j)

3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42

# 2.1. Build-in function used in the list

In [88]:
n_list = [100,300,400,100]
max(n_list)

400

In [90]:
min(n_list)

100

In [89]:
sum(n_list)

900

# 3.1. Operating the list element value

In [ ]:
my_list = ['A',23,'B',45,'C',89]
my_list.insert(2,'K')
my_list