In [1]:
list1 = [10,20,30,40]
10 in list1

True

In [2]:
list1 = [10,20,30,40]
10 not in list1

False

In [3]:
tup = (1,2,3,4)
3 in tup

True

In [4]:
11 in range(10)

False

In [6]:
'a' in 'abcd'

False

In [7]:
'a' in 'Abcd'

False

In [9]:
list1 = [11,22,33,44]
list2 = [55,66]
print(list1)
print(list1 + list2)  # concatenate list or we call linking lists

[11, 22, 33, 44]
[11, 22, 33, 44, 55, 66]

In [12]:
tup1 = (1,2,3)
tup2 = (4,5,6)
print(tup1 + tup2)

(1, 2, 3, 4, 5, 6)

In [15]:
# range(10) + range(10,20) Error

list1 = list(range(10))
list2 = list(range(10,20))
print(list1+list2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [18]:
tuple(range(10)) + tuple(range(10,20))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [17]:
list1 = [11,22,33,44]*2 # duplicate list or repeat the list 2 time
print(list1)

[11, 22, 33, 44, 11, 22, 33, 44, 11, 22, 33, 44]

In [21]:
tup1 = (1,2,3)
print(tup1*2)  # repeat 2 time of tuple

(1, 2, 3, 1, 2, 3)

In [28]:
list_ = list(range(10))
# print(list1*2)
list_*2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
tuple_ = tuple(range(5))
tuple_*3

(0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4)

In [33]:
t1 = tuple(range(3))
t2 = tuple(range(5))
print(t1+t2)

(0, 1, 2, 0, 1, 2, 3, 4)

In [37]:
mylist = [11,11,11,22,44,33,11]
print("The number of 11 have",mylist.count(11),"in the list")

The number of 11 have 4 in the list

In [40]:
mylist1 = [11,11,33,22,44,55,11]
user_input = int(input('Enter number to count : '))
count_list = mylist1.count(user_input)
print('{} have {} in the list'.format(user_input,count_list))

Enter number to count : 11
11 have 3 in the list

In [42]:
str1 = 'Hello World'
print(str1.count('o'))

2

In [46]:
ran = range(0,5,1)
print(len(ran))  # find number of element
print(ran.count(2)) # find number of element at specific of item we want to count

5
1

In [47]:
list1 = [11,22,33,44]
print(list1[2])

33

In [52]:
ran = range(0,25,2)
for index,i in enumerate(ran):
    print(f"index[{index}] = {i}")

index[0] = 0
index[1] = 2
index[2] = 4
index[3] = 6
index[4] = 8
index[5] = 10
index[6] = 12
index[7] = 14
index[8] = 16
index[9] = 18
index[10] = 20
index[11] = 22
index[12] = 24

In [ ]:
list1 = [10,20,30,40,50,60]

# 6.2. len example code

In [62]:
nations = ['Korea','China','Russia','Malaysia']
print('The total nations in list : ',len(nations))
print('last element of nations : ',nations[len(nations)-1])

The total nations in list :  4
last element of nations :  Malaysia

In [ ]:
a = ('A','B','C')
ord()

In [76]:
t1 = 'a','b','c'
t2 = ('a','b','c')
t3 = ('d','e')
print(t1==t2)
print(t1>t3)
print(t1<t3)
print(t2+t3)
print([t2+t3])
print(t1)

True
False
True
('a', 'b', 'c', 'd', 'e')
[('a', 'b', 'c', 'd', 'e')]
('a', 'b', 'c')

In [87]:
sale_record = (100,121,120,130,140,120,122,123,190,125)

counting = 0
for i in range(1,len(sale_record)):
    if sale_record[i] < sale_record[i-1]:
        counting+=1
print(f'In the past 10 days, {counting}days had reduced sales compared to the previous day.')

In the past 10 days, 3days had reduced sales compared to the previous day.

# 1.1. Definition of tuple

In [90]:
list1 = [11,22,44,44] # replace item = 44 by 33  , but in tuple we cannot change item like this(list)
list1[2] = 33  
print(list1)

[11, 22, 33, 44]

# 1.2. How to create tuple

In [94]:
tup1 = (10)
tup2 = (20,)
print(type(tup1))
print(type(tup2))

<class 'int'>
<class 'tuple'>

In [95]:
t = (1,2,3,4,5)
t[2] = 10
print(t) 
#error because tuple we cannot change item like list

TypeError: 'tuple' object does not support item assignment

In [97]:
c = (3,4)
x,y=c
print(y)

4

# 1.7.swapping

In [100]:
a = 100
b = 200
print('Before swapping the value of a = ',a,' value of b = ',b)
temp = a
a = b
b = temp
print('After swapping the value of a =',a,' value of b = ',b)

Before swapping the value of a =  100  value of b =  200
After swapping the value of a = 200  value of b =  100