# 2.1.DataFrame creation basics

In [ ]:
import pandas as pd
data = {'col_1':[3,2,1,0], 'col_2':['a','b','c','d']} # dic
pd.DataFrame(data) # convert a dictionary called data into DataFrame

   col_1 col_2
0      3     a
1      2     b
2      1     c
3      0     d

In [ ]:
import pandas as pd
s = pd.Series([1.0,2.0,3.0], index=['a','b','c']) # store in series objects s
s2 = pd.Series([1.0,2.0,3.0,4.0], index=['a','b','c','d']) # store in another series objects s2
# print(s) # print series 
# data = {'one':s, 'two':s2}  # improve two Series and assign key(column) names one,two
# pd.DataFrame(data) 

# NaN occurs when the number of element in data doesn't match 


# Another way to convert dictionary to a DataFrame

# dic_data = {"one":s, "two":s2}
# type(dic_data) 
# pd.DataFrame(dic_data)
# pd.DataFrame.from_dict(dic_data,orient='columns')

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

# 2.2. Set the name of the row(index) / column (columns) of the DataFrame

In [ ]:
import pandas as pd
d = {'col1':[1,2], 'col2':[3,4]} #dictionary datatype 
df = pd.DataFrame(data=d) # create a dataframe object name df by assigning a dictionary
print(df)

df.index = ['new index0','new index1'] #change new index name
print(df)

df.columns = ['new_col1','new_col2'] #change to a new column name
print(df)

   col1  col2
0     1     3
1     2     4
            col1  col2
new index0     1     3
new index1     2     4
            new_col1  new_col2
new index0         1         3
new index1         2         4

In [18]:
import pandas as pd
d = {'col-1':[1,2], 'col-2':[3,4]}
df = pd.DataFrame(data=d)
print(df)

df.rename(index={0:"new index0"})  # use key value to rename
# df = df.rename(index={0: "new index0", 1: "new index1"})

   col-1  col-2
0      1      3
1      2      4

            col-1  col-2
new index0      1      3
1               2      4

In [19]:
df.rename(columns={"col-2":"new col-2"}) # change col-2 to new col-2

   col-1  new col-2
0      1          3
1      2          4

In [20]:
# the resule above is differnet when index and columns name were changed. In this case use inplace = true to change the original object
df.rename(index={0:"new index0"}, inplace=True)
df.rename(columns={"col-2":"new col-2"})

            col-1  new col-2
new index0      1          3
1               2          4

In [ ]:
import pandas as pd
a = {'col_1':[3,2,1,0], 'col_2':['a','b','c','d']}
df = pd.DataFrame(data=a)
print(df)

   col_1 col_2
0      3     a
1      2     b
2      1     c
3      0     d