In [2]:
# print() use to print output on the screen, or output the value inside()
# print() is a build-in function

print("Hello world")  # letter between "" are called string (we can use both single and double quote)
print(10)  # not a string but the value which we can caluclation
print(4.5) # float number
print('5') # string

Hello world
10
4.5
5

In [7]:
print(10+4.5)    # calculate
print("10"+"2")  # concatenate or បូក string  # if we use string+number => errorp

14.5
102

In [20]:
# print() automatically break the line after printing the value
print("hello")
print("world")
print("Hello\nworld")  # we can use escape sequence(\n) to break the line 

#another way to break line is to surround string with three single or double quote
print('''hey     
guys''')  
print("""hello\
python""")   # before the word hey if we \ => the whole string won't be break into the new line

hello
world
Hello
world
hey
guys
hellopython

In [26]:
# use comma (,) to adding space between two or more value or string , or we use comma to combine string tgt
print("he","oll",'world')
print('this is number',20) # separate string and number
print(10,5) # separate or adding space between two value

he oll world
this is number 20
10 5

In [32]:
# addition (+) operator use to combine or add more than two string or value but it won't adding the space like comma
print("hello"+"world")
print(10+3)
print("10"+"3") # print string 103  # if we add string + number TypeErroe will be occured

helloworld
13
103

In [33]:
# multiplication (*) operator
print('Hey'*5) # print 'Hey' 5 times
print(3*2)  # multiply the value of 3 and 2 = 6
# print('string'*'string')  => TypeError will occur

HeyHeyHeyHeyHey
6

In [38]:
# End and Split Parameter
print('Rotha',end='')   # when program encounter print() line break occurs, however using "end=" so the line won't be break
print('Sam')
print('Rotha',end=',')  # print any string in single quote before output the second string
print('sam')

RothaSam
Rotha,sam

In [ ]:
# as we known comma (,) use in print function to adding space between but if add sep at last => comma won't be print
print('learning','python',sep='')
print('learning','python',sep='-') # can print any string in single quote before the second string is about to print

In [47]:
# as we known comma (,) use in print function to adding space between but if add sep at last => comma won't be print
print('learning','python',sep='')
print('learning','python',sep='-') # can print any string in single quote before the second string is about to print

learningpython
learning-python

In [51]:
print('Coding','with','Pythno','is fun',sep=' ') # after sep we can use space to separate string

Coding with Pythno is fun

In [53]:
# Practice
print('Hello'+'I will introduce myself'+'''
Name: David Doe''')
print('Age: '+"23")
print('Job','Data Scientist',sep=' : ')
print('Address: Seoul, South Korea\n'+'Place of Birth:', end='')
print(' Southern Califonia, USA')
print('*'*40)
print('-'*40)

HelloI will introduce myself
Name: David Doe
Age: 23
Job : Data Scientist
Address: Seoul, South Korea
Place of Birth: Southern Califonia, USA
****************************************
----------------------------------------

In [2]:
# python allow us to write multiple line sentence in one line using semicolon ( difficult to read)
a=10; a+=10; print(a)    #Bad case 

# Try above to better wring and readable  (Good case)
a=10
a+=10
print(a)

# if we write too long sentence try using backslash(\) to add a line
''' if width == 0 and height == 0 and color == 'red' and \
    emphasis == 'strong' or highlight > 100:
    print('sorry, you lose')
'''

20
20

" if width == 0 and height == 0 and color == 'red' and     emphasis == 'strong' or highlight > 100:\n    print('sorry, you lose')\n"