In [1]:
PI = 3.14 #Define the value of pi
#User input by using input () function
raduis = float(input('Enter the vaule of raduis:'))

#Formula to calculate the area of circle
area = PI*raduis*raduis

#Formular to calculate the circum of circle
circum = 2*PI*raduis

#Display the output
print('The Area of circle =', area)
print('The circum of circle =', circum)

Enter the vaule of raduis:2
The Area of circle = 12.56
The circum of circle = 12.56

In [7]:
print(100+20)
print(100*20)
print(100-20)
print(100/20)
print(100//20)
print(100%20)
100/2

120
2000
80
5.0
5
0

50.0

In [10]:
100*2

200

In [11]:
'100'*2

'100100'

In [14]:
type(100)

int

In [15]:
type('Rotha')

str

In [16]:
type(3+5j)

complex

In [17]:
int('10')/2  # convert string in to int

5.0

In [18]:
str(100) # convert number into string

'100'

In [20]:
a = None
type(a)

NoneType

In [23]:
int('50')+50

100

In [24]:
str(50+50)

'100'

In [27]:
#Use the int function to output the number 100 by
#adding the letter "50" and the number 50
print(int('50') + 50)

#Also, use the str function to output the result of the addition "5050".
print(str(50) + ('50'))

100
5050

In [26]:
list1 = [1, 2, 3, 4, 5]
print(type(list1))

<class 'list'>

In [34]:
#Quiz2
print(int('1'+'000'))

1000

In [35]:
print(type(float('10.5')))

<class 'float'>

In [37]:
print(type(100)) # keyword class is defining an object which detail in UNIT 21

<class 'int'>

In [38]:
type(100)

int